<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CapitalPlus"
			 connectionString="Server=10.211.55.2,1433;Database=CapitalPlus;User Id=sa;Password=TuPasswordFuerte123!;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>